
<%= stylesheet_link_tag "profile"%>
<div class='backgroundimg'>

<% if notice %>
  <%= render 'layouts/alerts'%>
<% end -%>

<center><br><br><br><br><br><br>
<% if doctor_signed_in? %>


<p>Wellcome DR. <%= current_doctor.name%> </p>

<% if doctor_signed_in? %>
       
         <div class="blockquote">
          <%= link_to 'Appointments',  patients_path, class:"mb-0"%>
        </div>

      <% end %>


<% else %>
  <p> If you are a DOCTOR </p>
  <p>please create an account</p><br>
  <td class="text-nowrap">
 
      <%= link_to 'Sign up', new_doctor_registration_path, class:'btn btn-primary', style:"width:200px;"%>
 
      <%= link_to 'Sign in', new_doctor_session_path, class:'btn btn-outline-success', style:"width:200px;"%>

</div>
</div>

<% end %>

</center>
<br><br><br><br><br><br><br>

<% if doctor_signed_in? %>


<div class="secondbg">

	<br><h1 class="h2" align="center"> Write an Article</h1><br><br><br>


     <section class="section">
     <div class="row">
       <div class="col-sm-6 col-lg-6 col-md-6">
         <div class="box">
           <p class="blockquote mb-0">If you want to publish any articles as a doctor this is the best palce for you.
           Write an article and upload your article in pdf formate. Your all article will be displayed to all users of this organization.</p>
         </div>
       </div>
       <div class="col-sm-6 col-lg-6 col-md-6"  align="center">
         <div class="box  text-nowrap">
           <%= link_to 'Upload Article',  new_doctor_edu_article_path, class: 'btn btn-warning', style:"width:200px;"%>
            <%= link_to 'My aArticle',  doctor_edu_articles_path, class: 'btn btn-outline-secondary', style:"width:200px;"%>
         </div>
       </div> 
     </div>
    </section>

</div>
<% end -%>