<nav class="navbar navbar-expand-lg navbar-dark", style="background-color: #9400D3;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <%= image_tag "logo.png",style: 'height:70px;width:80px' %>

    <div class="nav-item active">
      <%= link_to 'Home',  doctors_home_path, class:'btn btn-outline-light mr-3'%>
    </div>

    <div class="nav-item active">
     <%= link_to 'Doctors',   doctors_all_doctors_path, class:'btn btn-outline-light mr-3'%>
   </div>

   <div class="nav-item active">
     <%= link_to 'Articles',   doctors_all_articles_path, class:'btn btn-outline-light mr-3'%>
   </div>

  </div>


 <% if doctor_signed_in? %>

 <div class="nav-item active">
  <%= link_to 'Profile', edit_doctor_registration_path, class:'btn btn-outline-light mr-3'%>
</div>
<div class="nav-item active">
  <%= link_to 'sign out', destroy_doctor_session_path, method: :delete, class:'btn btn-outline-warning mr-3'%>
</div>



<% end %>  

</div>
</nav>